@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
      --color-principal: #146EA6;
  --color-primario: #1570BF;
  --color-secundario: #117DBF;
  --color-alterno-1: #B6D0F2;
  --color-alterno-2: #F2F2F2;
}


/* FONDO */
body {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1501785888041-af3ef285b470")
    center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR */
.wrapper-404 {
    padding: 20px;
}

/* CUADRO BLANCO */
.card-404 {
    background: rgba(255,255,255,.95);
    display: flex;
    gap: 60px;
    padding: 60px;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px rgba(0,0,0,.35);
}

/* IZQUIERDA */
.content-404 {
    max-width: 380px;
}

.content-404 h1 {
    font-size: 96px;
    font-weight: 700;
    color: var(--color-primario);
}

.content-404 h2 {
    font-size: 20px;
    margin: 10px 0 20px;
    letter-spacing: 1px;
}

.content-404 p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

/* BOTONES */
.buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.btn {
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    transition: .3s ease;
}

.btn-dark {
    background: var(--color-principal);
    color: #fff;
}

.btn-dark:hover {
    background: var(--color-alterno-1);
    color: var(--color-principal);
}

.btn-danger {
    background:var(--color-secundario);
    color: #fff;
}

.btn-danger:hover {
    background: var(--color-alterno-1);
    color: var(--color-secundario);
}

/* COPY */
.copy {
    font-size: 13px;
    color: #777;
}

/* DERECHA - LOGO */
.logo-404 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-404 img {
    width: 280px; /* 🔥 LOGO GRANDE */
    max-width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .card-404 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .content-404 {
        max-width: 100%;
    }

    .logo-404 img {
        width: 180px;
    }
}
